* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    flex: 1 1 auto;
}